.container{
  max-width: 1024px;
  margin: auto;
  position: relative;
  top: -128px;
}

.question-table{
  margin-top: 32px;
}

.question-title{
  cursor: 'pointer';
  font-size: 15px;
  text-decoration: none;
  color: #07C;
}
.question-title:visited{
  color: #005999;
}
.question-title:hover{
  color: #0198FF;
}

.question-list{
  margin-top: 36px;

  .header{
    padding: 24px;
    font-size: 12px;
    color: rgb(158, 158, 158);
    border-bottom: 1px solid rgb(224, 224, 224);
  }

  .entry{

      padding: 18px 24px;
      border-bottom: 1px solid rgb(224, 224, 224);
  }
}
