.add-btn{
  position: fixed !important;
  z-index: 1000 !important;
}

.cards-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
